doctype
html
  head
    meta(charset='UTF-8')
    title goo
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    canvas(style="", width="1280" height="490")#js-canvas

    script(src="dist/charites.js")


    



